extends layout

block content
    h1 about us
    p
        | lorem sdcsclksjdclj nlansdlcnslcnlskndclkn lnksdclknslc lknsdclnlsdncln
    p
        | lkjsldc lskcnlsnsn qlcolb2olvb lwbckn kwcnonoqnonw
