extends layout

block content
    h1 contact us
    p
        | This is  a contact page
    p
        | Please enjoy contacting us

        img(src='images/Contact-Us.jpg')

    form(method="post", action="contact/send")
        h1 #{title}
            .form-group
                label Name
                input.form-control(type="text", name="name", placeholder="Enter Mame")
            .form-group
                label Email
                input.form-control(type="email", name="email", placeholder="Enter email")
            .form-group
                label message
                input.form-control(type="text", name="message" placeholder="Enter message")

            button.btn.btn-default(type="submit") submit