extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer not working?
          p
            | what's happeing
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
          .col-md-5
            img(src='images/laptop.jpeg')
  h1= title
  p Welcome to #{title}
  .row
    .col-md-4
      .well
        h2 Hrdware problem
        p
          | Hardware question Mr?
    .col-md-4
      .well
        h2 Hrdware problem
        p
          | Software question Mr?
    .col-md-4
      .well
        h2 Hrdware problem
        p
          | Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.